<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="#" onclick="bindDelete()">删除</a>

<script src="/static/js/jquery-1.12.4.js"></script>
    <script>
    function bindDelete() {
        $.ajax({
            url:'ajax_delete_cate.html',
            type:"GET",
            success:function (arg) {
                if(arg==="成功"){
                    window.location.reload()
                }else {
                    alert(arg)
                }
            }
        })
    }
    </script>
</body>
</html>